.header {
    background-color: MediumSeaGreen;
    padding: 1px;
    text-align: center;
    font-family: cursive;
    border-radius: 5px;
}
body{
  background-color: Azure;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
}

li {
    float: left;
}
#jump{
  float:right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
img{
  border: 1px solid black;
  border-radius: 5px;
}
#story{
  float: right;
}
#heading{
  font-family:cursive;
}
.clearfix{
  overflow: auto;
}
.footer {
    background-color: #4CAF50;
    padding: 1px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}
